[submodule "hugo-xmin"]
	path = hugo-xmin
	url = https://github.com/songjhaha/hugo-xmin.git
[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/songjhaha/hugo-xmin.git
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/songjhaha/hugo-xmin.git
